#root {
  text-align: center;
  min-width: 100vw;
}


input[type="time"]::-webkit-calendar-picker-indicator{
  color-scheme: light;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  color-scheme: light;
}